:root {
	--blue-color: #2e9dff;
	--new-color: #676770;
	--white-color: #fff;
	--servises-bg: #192024;
	--servises-tetx-color: #e8e8e8;
	--button-bg-color: #2e80b6;
	--button2-bg-color: #92a0ad;
	--black-color: #000;
	--foter-bg: #383838;
	--line-heigt: 1.8;
	--tetx-color: #6a859c;
	--we-do-color: #8e8e9c;
	--velocity-about-link:#668cad;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before *::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(b);
	outline-offset: 3px;
}

body {
	font-family: 'Open sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: var(--line-heigt);
}

.container {
	max-width: 980px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

.btn {
	border: none;
	border: 1px solid var(--white-color);
	padding: 12px 31px;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 2px;
	text-align: center;
	color: var(--white-color);
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.btn-bg {
	margin-right: 20px;
	background-color: var(--blue-color);
	border: 1px solid transparent;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}
/* SITE HEADER */
.site-header {
	padding-top: 11px;
	padding-bottom: 24px;
}

.sute-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	width: 144px;
	height: 25px;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:hover {
	opacity: 0.6;
}

.sitenav__list {
	display: flex;
}

.sitenav__item:not(:last-child) {
	margin-right: 40px;
}

.sitenav__link {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
	color: var(--new-color);
	transition: all 0.4s ease;
}

.sitenav__link:hover {
	color: var(--blue-color);
}

.sitenav__link {
	opacity: 0.6;
}

.sitenav__link-active {
	color: var(--blue-color);
}

/* hero */
.hero {
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 195px;
	padding-bottom: 199px;
}

.hero__titles {
	color: var(--white-color);
	font-size: 59px;
	line-height: 1;
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 106px;
}

.hero__btn-wraper {
	display: flex;
	align-items: center;
}

/* we-do */
.we-do {
	padding-top: 80px;
	padding-bottom: 80px;
}

.we-do__info {
	text-align: center;
	margin-bottom: 60px;
	text-transform: uppercase;
}

.we-do__title {
	font-weight: 400;
	color: var(--new-color);
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 5px;
	margin-bottom: 17px;
}

.we-do__tetx {
	font-size: 17px;
	letter-spacing: 3px;
	color: var(--we-do-color);
	line-height: 1.2;
}

.we-do__list {
	display: flex;
}

.we-do__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	width: 100%;
	border: 1px solid #dcebf7;
	border-radius: 5px;
	padding-top: 36px;
	padding-bottom: 24px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
}

.we-do__item:not(:last-child) {
	margin-right: 21px;
}

.we-do__img {
	width: 94px;
	height: 94px;
	object-fit: cover;
	margin-bottom: 19px;
}

.we-do__item-title {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 7px;
	line-height: 1.5;
	color: var(--new-color);
	margin-bottom: 14px;
}

.we-do__item-tetx {
	line-height: var(--line-heigt);
}

/* servises */
.servises {
	background-color: var(--servises-bg);
	padding-top: 80px;
	padding-bottom: 80px;
	color: var(--white-color);
}

.services__info {
	text-align: center;
	margin-bottom: 62px;
	text-transform: uppercase;
}

.servises__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 5px;
	margin-bottom: 17px;
}

.servises__tetx {
	font-size: 17px;
	line-height: 1.2;
	letter-spacing: 3px;
	color: var(--servises-tetx-color);
}

.services__list {
	display: flex;
	justify-content: space-between;
}

.services__item {
	max-width: 460px;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.services__img {
	width: 430px;
	height: 287px;
	object-fit: cover;
	margin-bottom: 20px;
}

.services__item-title {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 5px;
	margin-bottom: 23px;
	text-transform: uppercase;
	text-align: center;
}

.services__item-tetx {
	text-align: center;
	margin-bottom: 17px;
}

.services-btn:hover {
	box-shadow: rgba(16, 47, 170, 0.795) 0px 22px 70px 4px;
}

/* tap-secshion */
.tap-secshion {
	padding-top: 80px;
	padding-bottom: 80px;
}

.tap-secshion__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tap-secshion__info {
	margin-bottom: 62px;
	text-align: center;
	text-transform: uppercase;
}

.tap-secshion__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 5px;
	color: var(--new-color);
	margin-bottom: 17px;
	text-transform: uppercase;
}

.tap-secshion__tetx {
	font-size: 17px;
	line-height: 1.2;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}

.tap-secshion__list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 40px;
}

.tap-secshion__item:not(:last-child){
	margin-right: 16px;
}

.tap-secshion__btn{
	padding: 1px 30px;
	border: none;
	border-radius: 4px;
	background-color: var(--button2-bg-color);
	color: var(--white-color);
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s ease;
}

.tap-secshion__btn:hover{
	background-color: var(--blue-color);
}

.tap-secshion__btn:active{
	opacity: 0.6;
}

.tap-secshion-active{
	background-color: var(--blue-color);
}

.tap-secshion__button-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tap-secshion__button-img{
	width: 940px;
	height: 627px;
	object-fit: cover;
	margin-bottom: 16px;
}

.tap-secshion__button-title{
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 5px;
	color: var(--new-color);
	margin-bottom: 14px;
	text-align: center;
}

.tap-secshion__button-tetx{
	font-size: 13px;
	text-align: center;
	line-height: 1.9;
}

/* velocity-about */
.velocity-about{
	padding-top: 35px;
	padding-bottom: 50px;
}

.velocity-about__container{
	display: flex;
	justify-content: space-between;
}

.velocity-about__inner{
	max-width: 320px;
	width: 100%;
}

.velocity-about__inner-title{
	font-size: 18px;
	line-height: 1.1;
	letter-spacing: 4px;
	color: var(--new-color);
	text-transform: uppercase;
	margin-bottom: 25px;
	font-weight: 400;
}

.velocity-about__inner-tetx{
	color: var(--tetx-color);
}
.velocity-about__item{
	padding-top: 1px;
	padding-bottom: 12px;
	max-width: 300px;
	width: 100%;
	border-bottom: 3px solid #d5d5e0;
}

.velocity-about__link{
	font-weight: 400;
	font-size: 13px;
	line-height: 1.5;
	color: var(--velocity-about-link);
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
}

.velocity-about__link:hover{
	box-shadow: rgba(195, 11, 57, 0.866) 0px 20px 30px -10px;
}

.velocity-about__link:active{
	color: var(--button-bg-color);
}

.velocity-about__img{
	margin-right: 10px;
}

/* site-footer */

.site-footer{
	background-color: var(--foter-bg);
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.site-footer__tetx{
	font-size: 15px;
	line-height: 1.3;
	color: #9e9e9e;
}