:root {
	--blue-color: #2e9dff;
	--new-color: #676770;
	--white-color: #fff;
	--servises-bg: #192024;
	--servises-tetx-color: #e8e8e8;
	--button-bg-color: #2e80b6;
	--button2-bg-color: #92a0ad;
	--black-color: #000;
	--foter-bg: #383838;
	--line-heigt: 1.8;
  --tetx-color:#6A859C;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before *::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted #ff7500;
	outline-offset: 3px;
}

body {
	font-family: 'Open sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: var(--line-heigt);
}

.container {
	max-width: 980px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}
